<main class="m-3">
  <div class='py-3'>
    <a href='/index' class='btn btn-primary'><i
        class='bi bi-arrow-90deg-left'
      ></i>
      Back</a>
  </div>
  
    <h1 class="text-center text-uppercase">Hello world!</h1>
    <h2>Second</h2>
    <h3>Third</h3>

    <hr>

    <div class="display-1">Hello world!</div>
    <div class="display-5">Second</div>
    <div class="display-3">Third</div>

    <hr>

    <div class="text-muted text-end text-capitalize"> Додатковий текст kf kf fkf</div>

    <hr>

    <div><button class="btn">Ти кнопка!</button></div>
    <br>
    <div>
        <button class="btn btn-primary">
            <span class="text-uppercase">Ти кнопка!</span>
        </button>
    </div>
    <br>
    <div><button class="btn btn-secondary">Ти кнопка!</button></div>
    <br>
    <div><button class="btn btn-success">Ти кнопка!</button></div>
    <br>
    <div><button class="btn btn-danger">Ти кнопка!</button></div>
    <br>
    <div><button class="btn btn-warning">Ти кнопка!</button></div>


    <br>
    <hr>
    <br>


    <br>
    <div class="card">
        <div class="card-body">
            <div><button class="btn btn-outline-info">Ти кнопка!</button></div>
            <br>
            <div><button class="btn btn-light">Ти кнопка!</button></div>
            <br>
            <div><button class="btn btn-outline-dark btn-lg">Ти кнопка!</button></div>
            <br>
            <div><button class="btn btn-outline-link btn-sm">Ти кнопка!</button></div>
            <br>
        </div>
    </div>

    <br>
    <hr>
    <br>

    <div class="card">
        <div class="card-body">
            Це карточка
        </div>
    </div>

    <div class="p-4">


        <div class="row g-4">

            <div class="col-12">
                <div class="nav nav-tabs">

                    <div class="nav-item ">
                        <a href="#" class="nav-link">Main</a>
                    </div>
                    <div class="nav-item">
                        <a href="/bootstrap" class="nav-link active">Catalog</a>
                    </div>
                    <div class="nav-item">
                        <a href="#" class="nav-link">Shop list</a>
                    </div>
                    <div class="nav-item">
                        <a href="#" class="nav-link">More</a>
                    </div>

                </div>
            </div>



            <div class="col-2">
                <div class="card ">
                    <div class="p-2">
                        <div class="nav flex-column">

                            <div class="nav-item mb-2">
                                <div class="card">
                                    <a href="#" class="nav-link">Home</a>
                                </div>
                            </div>
                            <div class="nav-item mb-2">
                                <div class="card  ">
                                    <a href="/bootstrap" class="nav-link active">Bootstrap</a>
                                </div>
                            </div>
                            <div class="nav-item mb-2">
                                <div class="card">
                                    <a href="#" class="nav-link">FAQ</a>
                                </div>
                            </div>
                            <div class="nav-item">
                                <div class="card">
                                    <a href="#" class="nav-link disabled">Account</a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-6 mb-2">
                <div class="row">
                    <div class="col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">For games</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">PC and notebook</a>
                            </li>
                            <li class="breadcrumb-item">
                                MacBook
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="col-9 text-center mb-2">
                    <div class="card btn btn-outline-lite text-black">
                        <a class="text-black" href="#">Статья: как открыть бутылку? читайте и узнаете!
                            <section class="badge text-bg-warning rounded-pill">
                                NEW
                            </section>
                        </a>
                    </div>
                </div>
                <div class="alert alert-danger">Warning</div>
            </div>

        </div>
    <div class='row g-5 mb-5'>
    <div class='col-12'>
      <label class='form-label'>Email address</label>
      <input class='form-control' />
      <div class='form-text text-danger'>
        Error. You need to set correct email
      </div>
    </div>
  </div>

  <div class='col-12'>

    <div class='row g-5'>
      <div class='col-2'>
        <label class='form-label'>Email address</label>
      </div>

      <div class='col-4'>
        <input type='color' class='form-control' />
      </div>

      <div class='col-6 ps-5'>
        <div class='form-text text-danger'>
          Error. You need to set correct email
        </div>
      </div>

      <div>
        <hr />
      </div>

      <div class='col-12'>
        <label class='form-label'>Select role</label>
        <div class='mb-3'>
          <select class='form-select form-select-lg'>
            <option selected>Admin</option>
            <option value='1'>User</option>
            <option value='2' disabled>Creator</option>
            <option value='3'>Guest</option>
          </select>
        </div>

        <div>
          <select class='form-select form-select-sm'>
            <option selected>Admin</option>
            <option value='1'>User</option>
            <option value='2' disabled>Creator</option>
            <option value='3'>Guest</option>
          </select>
        </div>

        <div class='form-text text-danger'>
          Select another role
        </div>
      </div>

      <div>
        <hr />
      </div>

      <div class='col-12'>
        <div class='form-label'>Select food</div>
        <div class='form-check'>
          <label class='form-check-label'>Apple</label>
          <input
            name='food'
            type='checkbox'
            class='form-check-input'
          />
        </div>

        <div class='form-check'>
          <label class='form-check-label'>Peach</label>
          <input
            name='food'
            type='checkbox'
            class='form-check-input'
          />
        </div>

        <div class='form-check'>
          <label class='form-check-label'>Banana</label>
          <input
            name='food'
            type='checkbox'
            class='form-check-input'
          />
        </div>

      </div>

      <div>
        <hr />
      </div>

      <div class='col-12'>
        <div class='form-label'>Select food</div>

        <div class='form-check'>
          <label class='form-check-label'>Apple</label>
          <input
            name='food'
            type='radio'
            class='form-check-input'
          />
        </div>

        <div class='form-check'>
          <label class='form-check-label'>Peach</label>
          <input
            name='food'
            type='radio'
            class='form-check-input'
          />
        </div>

        <div class='form-check'>
          <label class='form-check-label'>Banana</label>
          <input
            name='food'
            type='radio'
            class='form-check-input'
          />
        </div>
      </div>

      <div>
        <hr />
      </div>

      <div class='col-12'>
        <div class='form-check form-switch'>
          <label class='form-check-label'>Get bonus</label>
          <input
            name='food'
            type='checkbox'
            class='form-check-input'
          />
        </div>
      </div>

    </div>

  </div>

</main>