<main>
    <h1 class="text-center text-uppercase">Hello world!</h1>
    <h2>Second</h2>
    <h3>Third</h3>

    <hr>

    <div class="display-1">Hello world!</div>
    <div class="display-5">Second</div>
    <div class="display-3">Third</div>

    <hr>

    <div class="text-muted text-end text-capitalize"> Додатковий текст kf kf fkf</div>

    <hr>

    <div><button class="btn">Ти кнопка!</button></div>
    <br>
    <div>
        <button class="btn btn-primary">
            <span class="text-uppercase">Ти кнопка!</span>
        </button>
    </div>
    <br>
    <div><button class="btn btn-secondary">Ти кнопка!</button></div>
    <br>
    <div><button class="btn btn-success">Ти кнопка!</button></div>
    <br>
    <div><button class="btn btn-danger">Ти кнопка!</button></div>
    <br>
    <div><button class="btn btn-warning">Ти кнопка!</button></div>


    <br>
    <hr>
    <br>


    <br>
    <div class="card">
        <div class="card-body">
            <div><button class="btn btn-outline-info">Ти кнопка!</button></div>
            <br>
            <div><button class="btn btn-light">Ти кнопка!</button></div>
            <br>
            <div><button class="btn btn-outline-dark btn-lg">Ти кнопка!</button></div>
            <br>
            <div><button class="btn btn-outline-link btn-sm">Ти кнопка!</button></div>
            <br>
        </div>
    </div>

    <br>
    <hr>
    <br>

    <div class="card">
        <div class="card-body">
            Це карточка
        </div>
    </div>

</main>