<main>
    <h1 class="text-center text-uppercase">Hello world!</h1>
    <h2>Second</h2>
    <h3>Third</h3>

    <hr>

    <div class="display-1">Hello world!</div>
    <div class="display-5">Second</div>
    <div class="display-3">Third</div>

    <hr>

    <div class="text-muted text-end text-capitalize"> Додатковий текст kf kf fkf</div>

    <hr>

    <div><button class="btn">Ти кнопка!</button></div>
    <br>
    <div>
        <button class="btn btn-primary">
            <span class="text-uppercase">Ти кнопка!</span>
        </button>
    </div>
    <br>
    <div><button class="btn btn-secondary">Ти кнопка!</button></div>
    <br>
    <div><button class="btn btn-success">Ти кнопка!</button></div>
    <br>
    <div><button class="btn btn-danger">Ти кнопка!</button></div>
    <br>
    <div><button class="btn btn-warning">Ти кнопка!</button></div>


    <br>
    <hr>
    <br>


    <br>
    <div class="card">
        <div class="card-body">
            <div><button class="btn btn-outline-info">Ти кнопка!</button></div>
            <br>
            <div><button class="btn btn-light">Ти кнопка!</button></div>
            <br>
            <div><button class="btn btn-outline-dark btn-lg">Ти кнопка!</button></div>
            <br>
            <div><button class="btn btn-outline-link btn-sm">Ти кнопка!</button></div>
            <br>
        </div>
    </div>

    <br>
    <hr>
    <br>

    <div class="card">
        <div class="card-body">
            Це карточка
        </div>
    </div>

    <div class="p-4">


        <div class="row g-4">

            <div class="col-12">
                <div class="nav nav-tabs">

                    <div class="nav-item ">
                        <a href="#" class="nav-link">Main</a>
                    </div>
                    <div class="nav-item">
                        <a href="/bootstrap" class="nav-link active">Catalog</a>
                    </div>
                    <div class="nav-item">
                        <a href="#" class="nav-link">Shop list</a>
                    </div>
                    <div class="nav-item">
                        <a href="#" class="nav-link">More</a>
                    </div>

                </div>
            </div>



            <div class="col-2">
                <div class="card ">
                    <div class="p-2">
                        <div class="nav flex-column">

                            <div class="nav-item mb-2">
                                <div class="card">
                                    <a href="#" class="nav-link">Home</a>
                                </div>
                            </div>
                            <div class="nav-item mb-2">
                                <div class="card  ">
                                    <a href="/bootstrap" class="nav-link active">Bootstrap</a>
                                </div>
                            </div>
                            <div class="nav-item mb-2">
                                <div class="card">
                                    <a href="#" class="nav-link">FAQ</a>
                                </div>
                            </div>
                            <div class="nav-item">
                                <div class="card">
                                    <a href="#" class="nav-link disabled">Account</a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-6 mb-2">
                <div class="row">
                    <div class="col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">For games</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">PC and notebook</a>
                            </li>
                            <li class="breadcrumb-item">
                                MacBook
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="col-9 text-center mb-2">
                    <div class="card btn btn-outline-lite text-black">
                        <a class="text-black" href="#">Статья: как открыть бутылку? читайте и узнаете!
                            <section class="badge text-bg-warning rounded-pill">
                                NEW
                            </section>
                        </a>
                    </div>
                </div>
                <div class="alert alert-danger">Warning</div>
            </div>

        </div>

</main>