<div class="m-3">
   

    {{#with main}}
    <main>
        <div class="row">
            <div class="col-3">
                <section>
                    {{> title data="My educationss:" big=true}}

                    {{#each educations}}
                    <ul>
                        <li>
                            {{name}}
                            {{#if isEnd}}
                            |
                            {{else}}
                            | (Ще в процессі)
                            {{/if}}
                        </li>
                    </ul>
                    {{/each}}
                </section>
       
            </div>
            <div class="col-9">
                 <section>
            {{> title data="My sertificates:" }}

            {{#each certificates}}
            <ul>
                <li>
                    {{name}}
                    <br>
                    <b>id:</b> ({{id}})
                </li>
            </ul>
            {{/each}}
        </section>
            </div>
        </div>
       
    </main>
    {{/with}}
</div>