<div class='m-3 mt-5'>
  <h5>Список сторінок</h5>
  <div class='my-3'>
    Інформація про проект... (у розробці)
  </div>
  <div class='row my-5'>
    <div class='col-2'>

      <div class='mb-2'>
        <a href='/bio' class='btn btn-primary'>Bio</a>
      </div>

      <div class='mb-2'>
        <a
          href='/bootstrap'
          class='btn btn-primary'
        >Bootstrap
          <div
            class='badge bg-dark rounded-pill'
          >new</div></a>
      </div>

      <div class='mb-2'>
        <a
          href='/bootstrapOLD'
          class='btn btn-primary'
        >Bootstrap
          <div
            class='badge bg-dark rounded-pill'
          >old</div></a>
      </div>

      <div class='mb-2'>
        <a
          href='/education'
          class='btn btn-primary'
        >Education</a>
      </div>

      <div class='mb-2'>
        <a href='/person' class='btn btn-primary'>Person</a>
      </div>

      <div class='mb-2'>
        <a
          href='/program'
          class='btn btn-primary'
        >Program</a>
      </div>
    </div>
    <div class='col-2'>
      <div class='mb-2'>
        <a href='/shoporder' class='btn btn-primary'>Shop
          order</a>
      </div>

      <div class='mb-2'>
        <a href='/skills' class='btn btn-primary'>Skills</a>
      </div>

      <div class='mb-2'>
        <a
          href='/summary'
          class='btn btn-primary'
        >Summary</a>
      </div>

      <div class='mb-2'>
        <a href='/web' class='btn btn-primary'>Web</a>
      </div>

      <div class='mb-2'>
        <a href='/work' class='btn btn-primary'>Work</a>
      </div>

      <div class='mb-2'>
        <a href='/index8' class='btn btn-primary'>Index</a>
      </div>
    </div>
  </div>
</div>