{{#if isNew}}
<section class="badge rounded-pill text-bg-primary">Нове </section>
{{else}}
{{/if}}

{{#if isHot}}
<section class="badge rounded-pill text-bg-warning text-white text-uppercase">Hot!</section>
{{else}}
{{/if}}