{{#if isPrimary}}
  <button class='btn btn-warning text-white'>
    {{text}}
  </button>
{{else}}
{{/if}}

{{#if isOutline}}
  <button class='btn btn-outline-warning'>
    {{text}}
  </button>
{{else}}
{{/if}}