{{#if isPrimary}}
  <div class='mb-3'>
    <button class='btn btn-primary text-white'>
      {{text}}
    </button>
  </div>
{{else}}
{{/if}}

{{#if isOutline}}
  <div>
    <button class='btn btn-outline-primary'>
      {{text}}
    </button>
  </div>

{{else}}
{{/if}}