{{#if isSuccess}}
  <div class='mb-3'>
    <button class='btn btn-success'>
      {{text}}
    </button>
  </div>
{{else}}
{{/if}}

{{#if isOutline}}
  <div class='mb-3'>
    <button class='btn btn-outline-success'>
      {{text}}
    </button>
  </div>
{{else}}
{{/if}}