<div class="nav">
    <div class="nav-item">{{> link text="Summary" href="/summary" menu=true }}</div>
    <div class="nav-item">{{> link text="Skills" href="/skills" menu=true }}</div>
    <div class="nav-item">{{> link text="Education" href="/education" menu=true }}</div>
    <div class="nav-item">{{> link text="Work" href="/work" menu=true noLine=true}}</div>

</div>