<nav>
    {{> link text="Summary" href="/summary" menu=true }}
    {{> link text="Skills" href="/skills" menu=true }}
    {{> link text="Education" href="/education" menu=true }}
    {{> link text="Work" href="/work" menu=true noLine=true}}

</nav>